* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  // min-height: 100vh;
  // background-color: purple;
}

.home {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.products,
.product-details,
.cart,
.favourites {
  padding: 60px 0;
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-details {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  // background-color: pink;
}

.card-text {
  margin-bottom: 32px;
}

.size-n-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-size {
  position: absolute;
  width: max-content;
  bottom: -24px;
  color: red;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.cart-item-first-line {
  display: flex;
  justify-content: space-between;
}

.quantity {
  display: flex;
  align-items: center;
}
