* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}

.home {
  padding: 0 0 120px;
  display: flex;
  flex-direction: column;
  // gap: 60px;

  .member-link {
    text-decoration: underline;
  }

  .hero-img {
    height: 85vh;
    margin-bottom: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-large {
      display: block;

      @media (max-width: 600px) {
        display: none;
      }
    }
    &-small {
      display: none;

      @media (max-width: 600px) {
        display: block;
      }
    }
  }

  .home-sub-hero,
  .home-secondary-text {
    margin-bottom: 60px;
  }
}

.categories {
  margin-bottom: 60px;

  &-card {
    position: relative;
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.products,
.cart,
.favourites {
  padding: 60px 0 120px;
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-details {
  position: relative;
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  padding: 30px 0 120px;

  .card-text {
    margin-bottom: 32px;
  }

  .size-n-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .no-size {
    position: absolute;
    width: max-content;
    bottom: -24px;
    color: red;
  }
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;

  .cart-item-first-line {
    display: flex;
    justify-content: space-between;
  }

  .quantity {
    display: flex;
    align-items: center;
  }
}

.no-items {
  text-align: center;
  padding-top: 20vh;
}

.footer {
  margin-top: auto;

  &-top {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;

    @media (max-width: 800px) {
      margin-bottom: 16px;
      justify-content: center;
    }

    &-mid {
      display: flex;
      gap: 16px;

      @media (max-width: 510px) {
        margin-top: 24px;
      }

      > * + * {
        border-left: 1px solid #9c27b0;
        padding-left: 16px;
      }
    }

    &-right {
      display: flex;
      gap: 12px;

      @media (max-width: 800px) {
        margin-top: 24px;
      }
    }
  }

  .mfd {
    display: inline-block;
    color: #64b5f6;
    color: #591764;
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }
}
